 .new-tweet {
   border-radius: 7px;
   background-color: #e6e6e6;
   margin: auto;
   width: 350px;
   border-style: solid;
   border-width: .5px;
 }

 .breaker {
  max-width: 94%;
  height: 1px;
  color: black;
  background-color: black;
  margin-top: 0px;
  margin-bottom: 1em;
 }

 .header {
  padding-top: 5px;
  padding-bottom: 1px;
  margin-bottom: 1px;
  text-align: left;
  padding-left: 15px;
 }

 .form {
display: block;
margin-bottom: 5px;
margin-left: 10px;
width: 94%;
padding: 5px 5px 0px 5px;

 }

 .counter {
float: right;
padding-right: 15px;
 }

 .tweet {
margin-bottom: 10px;
margin-left: -230px;

 }